@import "variables";

.in-town {
  display: flex;
  flex-direction: row;
  
  &.other-side {
    flex-direction: row-reverse;
  }
}
  
.out-of-town {
  display: flex;
  flex: 1;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;  
  padding-right: 1px;
  
  &.other-side {
    justify-content: flex-start;
  }

  .location-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
  
.out-of-town-divide {
  min-height: @townsquare-height;
  min-width: @townsquare-width;
}

.player-street {
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
  &.other-side {
    margin-top: auto;
  }

  &:not(.other-side) {
    margin-bottom: auto;
  }
}

.street-left {
  min-height: @location-height;
  min-width: @location-width;
}

.street-right {
  min-height: @location-height;
  min-width: @location-width;
}

.location-wrapper {
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  min-height: @location-height;
  min-width: @location-width;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.75), inset 0 0 0 1px @box-shadow-color;
  margin: @location-margin;
  border-radius: 4px;
  
  & .card-row {
    min-height: @card-height;
  }  

  .card-wrapper {
    padding: 2px;
  }
}

.townsquare-bg {
  position: absolute;
  height: 100%;
  opacity: 0.8;
  border-radius: 4px;
  background-image: url('/img/sidewalk_ts2.png');
  background-size: contain;
  margin-left: 2px;
}

.deed-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  opacity: 0.5;
  padding-left: 2px;
  z-index: 1;
  padding-top: 2px;
  padding-bottom: 2px;

  .bg-left {
    background-image: url('/img/deed_bg_left.jpg');
    background-size: 100% 100%;  
    top: 0;
    left: 0;
    height: 100%;
    width: 35px;
    padding-left: 2px;
    border-radius: 5px 0 0 5px;
  }

  .bg-middle {
    background-image: url('/img/deed_bg_middle.jpg');
    background-size: contain;  
    background-repeat: repeat-x;
    height: 100%;
    flex: 1;
    padding-left: 2px;
  }

  .bg-right {
    background-image: url('/img/deed_bg_right.jpg');
    background-size: 100% 100%;  
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;  
    margin-right: -2px;  
    padding-left: 2px;
    border-radius: 0 5px 5px 0;    
  }
}

.controlled {
  box-shadow: 0 0 12px rgba(0,0,0,0.75), inset 0 0 0 1px @control-color;
}

.location-frame {
  display: flex;
  align-self: center;
  position: relative;
}

.location {
  display: flex;
  position: relative;
  z-index: @layer-locations;

  align-items: center;
  justify-content: center;

  &.townsquare {
    z-index: @layer-townsquare;
  }

  &.townsquare:hover {
    z-index: @layer-townsquare;
  }
}

.location:hover {
  z-index: @layer-hover;
}

.location-image {

  &.vertical {
    height: @card-height;
    width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }

  &.booted {
    left: 9px;
    top: -10px;
    transform: rotate(90deg);
  }
}

.location-order {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 26px;
  left: 50%;
  line-height: 24px;
  margin: 0 0 0 -12px;
  position: absolute;
  text-align: center;
  top: -28px;
  width: 24px;
}

.location-name {
  z-index: 1;
  font-size: 10px;
  line-height: 14px;
}

.location-large {
  width: 220px;
  height: 307px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;
}

.location-large-horizontal {
  width: 307px;
  height: 220px;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
}

.townsquare-container {
  margin-left: auto;
  margin-right: auto;
}

.townsquare-wrapper {
  min-height: @townsquare-height;
  min-width: @townsquare-width;
  margin: @location-margin;
  border-radius: @location-margin;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0 12px rgba(0,0,0,0.75), inset 0 0 0 1px rgba(255,255,255,0.1);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;

  & .card-row {
    min-height: @card-height;
  }

}

.townsquare {
    align-items: center;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    order: 0;
    display: flex;
    flex: auto;
    position: relative;

    & .location-image {
      z-index: 0;
    }    
}

.sidewalk {
  background-image: url('/img/sidewalk_deed.png');
  background-repeat: repeat-y;
  position: absolute;
  height: 25px;
  margin-left: 10px;  
  align-self: center;
  z-index: 1;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &.our-side {
    width: 30px;
    top: -23px;

    img {
      transform: rotate(90deg);
      padding-right: 2px;
      padding-left: 2px;

      &.outfit {
        transform: rotate(270deg);
        margin-bottom: -2px;
      }
    }
  }

  &.other-side {
    width: 30px;
    bottom: -23px;

    img {
      transform: rotate(270deg);
      padding-right: 2px;
      padding-left: 2px;
    }
  } 
  
  &.horizontal {
    background-image: url('/img/sidewalk_deed_horizontal.png');
    top: 50%;
    bottom: 50%;
    width: 20px;
    min-width: unset;
    margin: auto;
    background-position: center;
    background-repeat: repeat-x;    

    &.street-left {
      left: -18px;

      img {
        transform: rotate(180deg);
        margin-left: -3px;
        margin-right: -3px;
      }
    }
  
    &.street-right {
      right: -22px;

      img {
        margin-left: -3px;
        margin-right: -3px;
      }
    }
  }
}
