# This is a deploy workflow to test server

name: CI Deploy

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install npm dependencies
      run: npm install
    - name: Run build task
      run: npm run build --if-present
    - name: Deploy dist to Server
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
          SSH_PRIVATE_KEY: ${{ secrets.TEST_SERVER_SSH_KEY }}
          ARGS: "-rltgoDzvO --delete"
          SOURCE: "dist/"
          REMOTE_HOST: ${{ secrets.REMOTE_TEST_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_TEST_USER }}
          TARGET: ${{ secrets.REMOTE_TEST_TARGET }}
          EXCLUDE: "/images/cards/, /node_modules/"
    - name: Deploy assets to Server
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
          SSH_PRIVATE_KEY: ${{ secrets.TEST_SERVER_SSH_KEY }}
          ARGS: "-rltgoDzvO"
          SOURCE: "assets/"
          REMOTE_HOST: ${{ secrets.REMOTE_TEST_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_TEST_USER }}
          TARGET: ${{ secrets.REMOTE_TEST_TARGET }}
