# This is a deploy workflow to test server

name: CI Deploy

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
     - cron: '0 9 * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install npm dependencies
      run: npm install
    - name: Run build task
      id: build_task
      run: npm run build --if-present
    - name: Archive dist
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: dist/
        retention-days: 1
  deploy_prod:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: Git update
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_PROD_HOST }}
        username: ${{ secrets.REMOTE_PROD_USER }}
        key: ${{ secrets.PROD_SERVER_SSH_KEY }}
        script: |
          cd ${{ secrets.REMOTE_PROD_TARGET }}
          git fetch
          git reset --hard origin/master
          git clean -fd
          git submodule update --remote
    - name: Cleanup and update from PT
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_PROD_HOST }}
        username: ${{ secrets.REMOTE_PROD_USER }}
        key: ${{ secrets.PROD_SERVER_SSH_KEY }}
        script: |
          rm -f ${{ secrets.REMOTE_PROD_TARGET }}/public/* || true
          rm -f ${{ secrets.REMOTE_PROD_TARGET }}/public/img/* || true
          rm -r ${{ secrets.REMOTE_PROD_TARGET }}/public/fonts || true    
          rm -r ${{ secrets.REMOTE_PROD_TARGET }}/public/sound || true 
          cd ${{ secrets.REMOTE_PROD_TARGET }}/../townsquare-ptdt
          git fetch
          git reset --hard origin/playtest
          git clean -fd
          cp -r server/game/cards/16-DTR2 ${{ secrets.REMOTE_PROD_TARGET }}/server/game/cards
          cp /home/trimm/img/cards/25* /townsquare/townsquare/public/img/cards
          cp /home/trimm/DTR2.json /townsquare/townsquare/townsquare-json-data/packs
    - name: Get built dist
      uses: actions/download-artifact@v2
      with:
        name: dist
        path: dist
    - name: Deploy dist
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
          SSH_PRIVATE_KEY: ${{ secrets.PROD_SERVER_SSH_KEY }}
          ARGS: "-rltgoDzvO"
          SOURCE: "dist/"
          REMOTE_HOST: ${{ secrets.REMOTE_PROD_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_PROD_USER }}
          TARGET: ${{ secrets.REMOTE_PROD_TARGET }}/public
          EXCLUDE: "/images/cards/, /node_modules/"
    - name: Deploy assets
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
          SSH_PRIVATE_KEY: ${{ secrets.PROD_SERVER_SSH_KEY }}
          ARGS: "-rltgoDzvO"
          SOURCE: "assets/"
          REMOTE_HOST: ${{ secrets.REMOTE_PROD_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_PROD_USER }}
          TARGET: ${{ secrets.REMOTE_PROD_TARGET }}/public
    - name: Restart pm2 processes
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_PROD_HOST }}
        username: ${{ secrets.REMOTE_PROD_USER }}
        key: ${{ secrets.PROD_SERVER_SSH_KEY }}
        script: |
          pm2 restart 0
          pm2 restart 1
  deploy_dev:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v2
    - name: Stop services
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_TEST_HOST }}
        username: ${{ secrets.REMOTE_TEST_USER }}
        key: ${{ secrets.TEST_SERVER_SSH_KEY }}
        script: |
          echo ${{ secrets.REMOTE_TEST_PWD }} | sudo -S systemctl stop townsquare.service
          echo ${{ secrets.REMOTE_TEST_PWD }} | sudo -S systemctl stop gamenode.service
    - name: Git update
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_TEST_HOST }}
        username: ${{ secrets.REMOTE_TEST_USER }}
        key: ${{ secrets.TEST_SERVER_SSH_KEY }}
        script: |
          cd ${{ secrets.REMOTE_TEST_TARGET }}
          git fetch
          git reset --hard origin/master
          git clean -fd
          git submodule update --remote
    - name: Cleanup
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_TEST_HOST }}
        username: ${{ secrets.REMOTE_TEST_USER }}
        key: ${{ secrets.TEST_SERVER_SSH_KEY }}
        script: |
          rm -f ${{ secrets.REMOTE_TEST_TARGET }}/public/* || true
          rm -f ${{ secrets.REMOTE_TEST_TARGET }}/public/img/* || true
          rm -r ${{ secrets.REMOTE_TEST_TARGET }}/public/fonts || true    
          rm -r ${{ secrets.REMOTE_TEST_TARGET }}/public/sound || true 
    - name: Get built dist
      uses: actions/download-artifact@v2
      with:
        name: dist
        path: dist
    - name: Deploy dist to Server
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
          SSH_PRIVATE_KEY: ${{ secrets.TEST_SERVER_SSH_KEY }}
          ARGS: "-rltgoDzvO"
          SOURCE: "dist/"
          REMOTE_HOST: ${{ secrets.REMOTE_TEST_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_TEST_USER }}
          TARGET: ${{ secrets.REMOTE_TEST_TARGET }}/public
          EXCLUDE: "/images/cards/, /node_modules/"
    - name: Deploy assets to Server
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
          SSH_PRIVATE_KEY: ${{ secrets.TEST_SERVER_SSH_KEY }}
          ARGS: "-rltgoDzvO"
          SOURCE: "assets/"
          REMOTE_HOST: ${{ secrets.REMOTE_TEST_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_TEST_USER }}
          TARGET: ${{ secrets.REMOTE_TEST_TARGET }}/public
    - name: Start services
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_TEST_HOST }}
        username: ${{ secrets.REMOTE_TEST_USER }}
        key: ${{ secrets.TEST_SERVER_SSH_KEY }}
        script: |
          echo ${{ secrets.REMOTE_TEST_PWD }} | sudo -S systemctl start townsquare.service
          echo ${{ secrets.REMOTE_TEST_PWD }} | sudo -S systemctl start gamenode.service
